ul#navbar_menu.nav.navbar-nav.navbar-right
	li#home.navbar_list_item(class= activeTab === '/' ? 'active' : undefined)
		a.navbar_link(href="#") Home
	li#about.navbar_list_item(class= activeTab === '/about' ? 'active' : undefined)
		a.navbar_link(href="#") About Us
	li#facts.navbar_list_item(class= activeTab === '/facts' ? 'active' : undefined)
		a.navbar_link(href="#") Get the Facts
	li#stories.navbar_list_item(class= activeTab === '/stories' ? 'acticve' : undefined) 
		a.navbar_link(href="#") Survivor Stories 
	li#dedications.navbar_list_item(class= activeTab === '/dedications' ? 'acticve' : undefined) 
		a.navbar_link(href="#") Dedications 
	li#professionals.navbar_list_item(class= activeTab === '/professionals' ? 'active' : undefined)
		a.navbar_link(href="#") For Medical Professionals 
	li#partners.navbar_list_item(class= activeTab === '/partners' ? 'active' : undefined)
		a.navbar_link(href="#") Partners


	//- li#home.navbar_nav_list_item(class=	activeTab === '/' ? 'active' : undefined)
	//- 	a.text_link(href="/") Home
	//- li#about.navbar_nav_list_item.dropdown(class= activeTab === '/about' ? 'active' : undefined)
	//- 	a.dropdown-toggle.text_link(href="#" data-toggle="dropdown") About 
	//- 		span.caret 
	//- 	ul.dropdown-menu
	//- 		li
	//- 			a(href="#")
	//- 				em Bio
	//- 		li
	//- 			a(href="#")
	//- 				em Resume
	//- 		li
	//- 			a(href="/about/acknowledgements/") Acknowledgements
	//- li#portfolio.navbar_nav_list_item(class= activeTab === '/portfolio' ? 'active' : undefined)
	//- 	a.dropdown-toggle.text_link(href="#" data-toggle="dropdown") Portfolio 
	//- 		span.caret
	//- 	ul.dropdown-menu
	//- 		li 
	//- 			a(href="/portfolio/tag_cloud") Tweet Cloud
	//- 		li 
	//- 			a(href="#")
	//- 				em Project 2
	//- 			a(href="#")
	//- 				em Project 3
	//- li#contact.navbar_nav_list_item(class= activeTab === '/contact' ? 'active' : undefined)
	//- 	a.text_link(href="/contact/") Contact