#header_container.navbar-header
	button#collapsed_navbar_button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#myNavbar") 
		span.icon-bar
		span.icon-bar
		span.icon-bar
	a.navbar-brand(href="#")
		#nnff_navbar_logo
		//- img(src="images/nnff_logo_oval_sm.gif")