#about_us_content_container {
	font-family: @primaryFont;
}

#about_us_content_container p {
	line-height: 1.5em;
}

.about_us_section {
	margin-bottom: 50px;
}

.about_us_text {
	text-align: justify;
	margin-bottom: 20px;
}

#nnff_mission_and_vision {
	display: block;
	margin: 0 auto;
}

#nnff_mission_and_vision p {
	.text-center;
}

.nnff_founder_thumbnail {
	padding: 15px;
	box-shadow: 3px 3px 6px #333;
	margin-bottom: 25px;
	@media (max-width: @screen-sm-min) {
		max-width: 275px;
		display: block;
		margin: 0 auto 25px auto;		
	}
	@media (max-width: (@screen-sm-min * 0.75)) {
	}
}

.small_screen_thumbnail_image_container {
	.make-xs-column(6); 
	@media (max-width: (@screen-sm-min * 0.75)) {
		.make-xs-column(12);
	}
}

.nnff_founder_image {
	width: 230px !important;
	height: 240px !important;
	box-shadow: 3px 3px 6px #333;
}

h3.section_header {
	color: @salmon;
	margin-bottom: 20px;
} 

.nnff_founder_caption {
	text-align: center;
}

.founder_name {
	letter-spacing: .5px;
}

.caption h5 {
	font-style: italic;
	color: @house-blue;
}

.survivor_story_link:hover {
	text-decoration: none;
}

.survivor_story_link h5:hover {
	font-weight: bold;
}

.email_link_icon {
	color: @salmon;
}

.email_link_icon:hover {
	color: @salmon-light;
}

#about_us_table {
	overflow-x: scroll;
}

.about_us_table_link_icon {
	font-size: 1.5em;
}