#for_professionals_text_container {
	font-family: @primaryFont;
	@media(min-width: @screen-md-min) {
		padding-top: 20px;
	} 
}

#for_professionals_text_container p {
	line-height: 1.5em;
}

#for_professionals_dr_crew_text {
	margin-top: 40px;
}

#for_professionals_table {
	overflow-x: scroll;
	margin-top: 25px;
	font-family: @primaryFont;
}

.article_title {
	font-weight: bold;
}

.external_link_icon {
	font-size: 1.5em;
}