#nnff_jumbotron {
	padding: 0px;
	margin-bottom: 0px;
}

.nnff_jumbotron_container {
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
    -webkit-transition: opacity 1s linear; /* Safari and Chrome */
    -moz-transition: opacity 1s linear; /* Firefox */
    -o-transition: opacity 1s linear; /* IE 9 */
    -ms-transition: opacity 1s linear; /* Opera */
    transition: opacity 1s linear;	
}

.mother_child_background {
	background-image: url('../../dist/images/mother_child_face_to_face.jpg');
	background-position: 55% 68%;
	@media(min-width: @screen-md) {
		background-position: 95% 65%;
	}
}

.couple_grass_background {
	background-image: url('../../dist/images/couple_in_grass.jpg');
	background-position: 75% 10%;
	@media(min-width: @screen-md) {
		background-position: 75% 30%;
	}
}

.grandparents_bw_background {
	background-image: url('../../dist/images/grandparents_bw.jpg');
	background-position: 50% 15%;
	@media(min-width: @screen-md) {
		background-position: 40% 15%;
	}
}

h1.nnff_jumbotron_header {
	color: @fog;
    font-family: Helvetica;
    font-weight: bold;
    position: relative;
    text-shadow: 1px 1px @black;
    margin-top: 20px;
    max-width: 300px;
    line-height: 1.3em;
    @media(min-width: @screen-md) {
    	max-width: 650px;	
    	margin-left: 100px;
    	margin-top: 75px;
    	line-height: 1.1em;
	}
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		max-width: 650px;
	}
}

#jumbotron_donation_button_container {
	position: absolute;
	z-index: 50;
	margin-top: 250px;
	@media(min-width: @screen-md) {
		margin-left: 120px;
		margin-top: 300px;
	}
}

.background_color_transition {
	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	-ms-transition: background-color .5s ease;
	transition: background-color .5s ease;	
}

.horizontallyCentered {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%) translatey(-50%);		
}


#jumbotron_donation_button {
	background-color: @salmon;
	border-color: @black;
	.background_color_transition;
	@media(max-width: @screen-md) {
		width: 90%;
		max-width: 450px;
		position: absolute;
		.horizontallyCentered;
	}	
	@media(min-width: @screen-md) {
		.btn-lg;
	}
}

#jumbotron_donation_button:hover {
	background-color: #cd8283;
}

#jumbotron_share_button_container {
	position: absolute;
	z-index: 50;
	margin-top: 315px;
	@media(min-width: @screen-md) {
		margin-left: 325px;
		margin-top: 300px;
	}
}

#jumbotron_share_button {
	background-color: @heather-grey;
	border-color: @black;
	.background_color_transition;
	@media(max-width: @screen-md) {
		width: 90%;
		max-width: 450px;
		position: absolute;
	    .horizontallyCentered;		
	}
	@media(min-width: @screen-md) {
		.btn-lg;
	}	
}

.jumbotron_button {
	font-family: copperplate gothic light;
	font-size: 1.2em !important;
	@media(max-width: @screen-md) {
		opacity: 0.85;
	}
}

#jumbotron_share_button:hover {
	background-color: #b2bacc;
}

#jumbotron_relative_wrapper {
	position: relative;
}