#webpage_navbar {
	background-color: #fff;
	@media(min-width: @screen-sm) {
		margin-bottom: 0px;
	}
}

#header_container {
	@media(min-width: @screen-md) {
		padding-top: 10px;
	} 
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-lg) {
		padding-top: 0px;
	}
}

.navbar-brand {
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		padding-top: 20px;
	}
}

#nnff_navbar_logo {
	background: url('../../images/nnff_logo_rectangle.png') no-repeat left center;
	width: 125px;
	height: 40px;
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		margin-left: -25px;
	}
	@media(min-width: @screen-md) {
		background: url('../../images/nnff_logo_oval_sm.gif') no-repeat left center;
		height: 75px;
		width: 175px;
		position: relative;
		z-index: 999;
	}
}

#collapsed_navbar_button {
	border: 1px solid @house-blue;
	position: relative;
	margin-top: 15px;
	margin-bottom: 0px;
	right: 0;
}

.icon-bar {
	background-color: @house-blue;
}

#navbar_menu {
	@media(min-width: @screen-md) {
		position: relative;
		left: 10%;
		margin-top: 3px;
		padding-top: 20px;
	}
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		margin-top: 20px;
	}
	@media only screen and (min-width: @screen-md) and (max-width: @screen-lg) {
		margin-top: 0px;
		margin-left: 75px;
		padding-top: 0px;
	}
}

.navbar_list_item {
	@media(min-width: @screen-lg) {
		padding-left: 10px;
	}
}

a.navbar_link {
	color: @salmon;
	font-family: @primaryFont;
}

a.navbar_link:focus {
	color: @navy-blue;
}

li.navbar_list_item.active > a {
	font-weight: bold;
	color: @navy-blue;
}

li.navbar_list_item {
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		padding-left: 0px;
	}
}

li.navbar_list_item a {
	@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
		padding: 8px;
	}
}

#facts_dropdown_menu {
	@media(min-width: @screen-lg-min) {
		margin-left: 10px;
	}
}

.dropdown-menu li a {
	font-family: @primaryFont;
}